<div>
  <div class="ui reply form">
    <div class="field">
      <select id="rooms-select" onchange={{action changeRoom}}>
        <option value="1">room 1</option>
        <option value="2">room 2</option>
        <option value="3">room 3</option>
      </select>
    </div>
    <div class="field">
      <textarea
         id="body"
         placeholder="input message"></textarea>
    </div>
    <div class="field">
      <button id="post-button" class="ui blue button" onclick={{action postMessage}}>Post</button>
    </div>
  </div>
</div>

<div class="ui divider"></div>

<div class="ui comments">
  {{#each messages key="@index" as |message|}}
    <MessageItem @message={{message}} />
  {{/each}}
</div>

