<div class="comment">
  <div class="content">
    <a class="author">
      {{message.user.name}}
    </a>
    <div class="metadata">
      @{{message.user.account}}
    </div>
    <div class="text">
      {{{message.body}}}
    </div>
  </div>
</div>
